body {
    font-family: 'Roboto';
    font-style: normal;
}

.font-12px {
    font-size: 12px;
}

.font-13px {
    font-size: 13px;
}

.addContact {
    font-weight: bold;
}

.pageBackground {
    background: #FAFAFA;
}

.actionButtons:hover {
    fill: #666666;
}

.search {
    border: 0px;
}

.textGrey {
    color: #999999;
}

::placeholder {
    color: #cccccc;
    font-weight: normal;
}

.textActive {
    color: #666666;
}

.customBorderRight {
    border-right: solid 2px;
    border-color: #F5F5F5;
}

.fixPanel {
    margin: 3.6px 0px 3.6px 0px;
}

.activeBorder {
    border-left: solid 2px;
    border-color: #1875F0;
}

.customBorderTop {
    border-top: solid 2px;
    border-color: #F5F5F5;
}

.customBorderBottom {
    border-bottom: solid 2px;
    border-color: #F5F5F5;
}

.customBorderLeft {
    border-left: solid 2px;
    border-color: #F5F5F5;
}

.margingY {
    margin-top: -4px;
    margin-bottom: -4px;
    top: 3px
}

.contactPhoto {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    margin-top: -10px;
    margin-bottom: -10px;
    object-fit: cover;
}

/*custom checkbox*/
input[type="checkbox"] {
    display: none;
}

.customLabel::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    vertical-align: middle;
}

input[type="checkbox"]:checked + label::before {
    background-color: #1875F0;
    border: 0px;
    background-image: url(choosed.png);
    background-position: center;
    background-repeat: no-repeat;
}

.topmenu > div:after {
    content: "";
    position: absolute;
}

.submenu {
    position: absolute;
    left: 300px;
    top: 0px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 6px;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
}

.submenu div {
    border-radius: 6px;
}

.topmenu > div:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
